SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
PORT=port
NODE_ENV=''
JWT_SECRET='your -jwt-secrete'
JWT_EXPIRES_IN=
EMAIL_SERVICE='(eg:gmail)'
EMAIL_USER='youremail@gmail.com'
EMAIL_PASS='emailpassword'
